@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  /* فونت وزیرمتن را موقتا با فونت سیستم جایگزین کردیم تا خطا رفع شود */
  font-family: system-ui, -apple-system, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: #fef7ff; /* background-light */
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #f5569b; 
  border-radius: 10px;
}